/*Footer*/

.bottom {
  background-size: cover;
  border-top: 0.1rem solid #9d9c9d;
  margin: 0;
}

.headline__bottom {
  text-align: center;
  font-size: 3rem;
  font-style: arial;
  color: #405385;
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.grid {
  display: flex;
  flex-wrap: wrap;


&__card {
  flex-basis: calc(100% / 4 - 1rem);
  flex-grow: 1;
  object-fit: cover;
  margin: 0;
}

&__poster {
  height: 100%;
  display: block;
  margin: 0;
  filter: opacity(50%) brightness(100%);
}

.grid__text {
  font-size: 1rem;
  position: absolute;
  color: #50656a;
  font-size: 3rem;
}
}

&__poster:hover {

}

.navbar__bottom {
  background: #405385;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 2rem;

  &__group-left {
    margin: -2rem;
    padding-left: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }


  &__group-right {
    display: flex;
    margin: 1rem;
  }

    &-list {
      display: flex;
      margin: 0;

    }

      &__item {
        margin: .5rem;
        border-right: 0.1rem solid #fff;
        padding-right: 1rem;
      }

}

.tiy__icon {
  max-width: 3rem;
  border-radius: 50%;
  border: none;
  margin: 0 2rem;
  display: flex;
  justify-content: space-between;
}

.tiy__copyright {
  margin: 0;
  font-size: 0.5rem;
  color: #fff;
}
