.jumbotron {
  padding: 2rem;
  background: url('http://static1.squarespace.com/static/5418a5bae4b0877352524377/t/55713519e4b07b4f85c0044b/1433482527204/?format=1000w') no-repeat center center fixed;
  background-size: cover;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  margin: -1rem;
  padding-right: 5rem;
}

.nav-list__item {
  margin: 1rem;
}

.nav__group-left {
  margin: -1.5rem;
  padding-left: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav__group-right {
  display: flex;
  margin: 1rem;
}

.logo-icon {
  max-width: 6rem;
  border-radius: 50%;
  border: none;
  margin: 0 2rem;

}

.logo {
  margin: 0;
  font-size: 1.5rem;
}

.center {
  position: relative;
  margin: 10rem auto;
  padding: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-text {
  text-align: center;
  font-size: 4rem;
  color: white;
}

.center-sub-text {
  text-align: center;
  color: black;
  font-size: 1rem;
  font-weight: bold;
}
