// @import 'yoga-sass/assets/yoga';
// @import 'normalize-css/normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome/scss/font-awesome';
@import 'box-sizing';
@import 'header';
@import 'main';

body {
  margin: 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

.section {
  padding: 0;
}

.container {
  width: 100%;
  max-width: 65rem;
  margin: 0 auto;
}

img {
  max-width: 100%;
  align-self: center;
}



/*Aside*/

.column-right {
  display: flex;
  flex-direction: column;
  flex-basis: calc(40% / 2 -1rem -1rem);
  padding: 1rem;
}

.aside__profile {
      display: inline-block;
      flex-grow: 1;
      border-radius: 50%;
}

.aside__profile-name {
  color: #335ede;
  text-align: center;
}

.social {
  margin: 1rem;
  justify-content: center;
}


.ad {
  display: inline-block;
  justify-content: center;
  flex-grow: 1;
}

.sidebar-section {
  display: inline-block;
  justify-content: center;
  flex-grow: 1;
}

.sidebar-section__heading {
  color: #335ede;
  text-align: center;
}

.ad__about {
  margin: 0;
  text-align: right;
}

/*Footer*/
